<?xml version="1.0" encoding="UTF-8"?>
<suite name="StudyIq Web Automation Test Suite">
<listeners>
		<listener class-name="com.listener.TestListener" />
		<listener class-name="com.listener.AnnotationTransformer" />
	</listeners>

	<test name="LOGIN_SIGNUP">
		<classes>
			<class name="test_scripts.LoginTest" />
		</classes>
	</test>
	<test name="COURSE">
		<classes>
			<class name="test_scripts.CourseTest" />
		</classes>
	</test>
	<test name="PROFILE">
		<classes>
			<class name="test_scripts.MyProfileTest" />
		</classes>
	</test>
</suite>

